

#newBookForm{
    margin: auto;
    display: flex;
    width: 320px;
    padding: 10px;
    
}
.form-container{
    width: 320px;
    display: flex;
    flex-direction: column;

}
div {
    
    background-color: rgb(154, 157, 196);
}
input , label{
    margin: 2px;
    display: block;
    width: 300px;}

h1{
    font-size: 70px;
}
button{
    margin-top: 8px;
}
h2{
    text-align: center;
    border: solid 2px black;
    font-size: 36px;
}